.wrapper {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
  box-sizing: border-box; //make sure padding working properly on image
  a {
    font-weight: 300;
    text-decoration: none;
    color: black;
    &.active {
      font-weight: 900;
    }
  }
  .logo {
    height: 2rem;
    object-fit: contain;
    margin-right: auto;
  }
}
